<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Main page</title>
</head>
<body>
<h1>Main page</h1>
<p><a th:href="@{/hello/}">Go to hello form</a> </p>

<p><a th:href="@{/student/show-form/}">Go to student registration form</a> </p>

<p><a th:href="@{/customer/}">Go to customer panel</a> </p>
</body>
</html>